**Imports & Data Load**

In [36]:
import re
import pandas as pd

from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.cluster import AgglomerativeClustering
from sklearn.metrics.pairwise import cosine_similarity
from scipy.sparse import hstack

df = pd.read_csv("simplyhired_final_cleaned.csv")

**Normalize Titles**

In [37]:
def normalize_title(s: str) -> str:
    if pd.isna(s):
        return ""
    s = str(s).lower()
    s = re.sub(r"\(.*?\)", " ", s)          # remove (...) like (Toronto)
    s = re.sub(r"\[.*?\]", " ", s)          # remove [...] like [Due Dilligence]
    s = re.sub(r"\b[a-z]*\d{3,}\b", " ", s) # remove codes like B3617, 1049532
    s = re.sub(r"[/|,;:\-\u2013\u2014]+", " ", s)
    s = re.sub(r"\b(i|ii|iii|iv|v)\b", " ", s)
    s = re.sub(r"\s+", " ", s).strip()
    return s

df["title_norm"] = df["title"].map(normalize_title)

**Create updated titles column**

In [38]:
CANONICAL_PATTERNS = [
    ("Data Scientist", r"\bdata scientist\b"),

    ("ML Scientist/Research",
     r"\bmachine learning scientist\b|\bml scientist\b|\bresearch scientist\b|\bmachine learning researcher\b|"
     r"\bresearch engineer\b|\bscientist\b|\bmachine learning specialist\b|\bresearcher\b"),

    ("Machine Learning Engineer",
     r"\bmachine learning engineer\b|\bml engineer\b|\bai engineer\b"),

    # SPECIAL OVERRIDE: treat "Data & Analytics ... Analytics Engineer" as Data Engineer
    ("Data Engineer",
    r"\bdata engineer\b|"
    r"\bdata engineering\b|"
    r"\bdata\s*(?:&|and)\s*analytics\b.*\banalytics\b.*\bengineer\b|"
    r"\bdata\s*(?:&|and)\s*model\s*ops\b.*\bengineer\b"),

    # Analytics Engineer (general)
    ("Analytics Engineer",
     r"\banalytics(?:\s+\w+){0,3}\s+engineer\b|\bsenior analytics engineer\b|\bintermediate analytics engineer\b|\bai analytics\b|"
     r"\banalytics engineering\b"),

    ("Data Engineer", r"\bdata engineer\b"),

    ("Business Intelligence", r"\bbusiness intelligence\b|\bpower bi\b|\binsights\b"),
    ("Data Analyst", r"\bdata analyst\b|\bdata analytics\b"),
    ("Analyst", r"\banalyst\b|\brisk analytics\b|\brisk modelling\b"),
]

def updated_title(title_norm: str) -> str:
    t = title_norm
    for canon, pat in CANONICAL_PATTERNS:
        if re.search(pat, t):
            return canon
    # If not categorized, keep original normalized title
    return t


df["title_updated"] = df["title_norm"].map(updated_title)

df[["title", "title_updated"]].head(20)

,title,title_updated
0,Data Analyst,Data Analyst
1,YouTube Data Analyst,Data Analyst
2,Data Scientist,Data Scientist
3,AI/Machine Learning Data Engineer,Data Engineer
4,Data Product Analyst,Analyst
5,Data Product Analyst,Analyst
6,Data Science Engineer,data science engineer
7,Analytics Consultant,analytics consultant
8,Data Engineering Specialist,Data Engineer
9,"Senior Machine Learning Engineer, AI Platform",Machine Learning Engineer
10,"Senior Staff Machine Learning Engineer, (ML Un...",Machine Learning Engineer
11,Investment Data Operations Specialist,investment data operations specialist
12,Senior Data Analyst,Data Analyst
13,Senior Quantitative User Experience Researcher...,ML Scientist/Research
14,"Senior Data Scientist, Algorithm (Relo to SF)",Data Scientist
15,"Senior Data Scientist, Analytics (Relo to SF)",Data Scientist
16,Customer Insights & Analytics Specialist (Non-...,Business Intelligence
17,Senior Generative AI Engineer,Machine Learning Engineer
18,Machine Learning Engineer,Machine Learning Engineer
19,"Analyst - Data Analytics, Digital Transformation",Data Analyst

**Vectorize title_updated (word + char TF-IDF)**

In [39]:
MIN_DF = 2

vec_word = TfidfVectorizer(analyzer="word", ngram_range=(1, 3), min_df=MIN_DF)
Xw = vec_word.fit_transform(df["title_updated"])

vec_char = TfidfVectorizer(analyzer="char_wb", ngram_range=(3, 5), min_df=MIN_DF)
Xc = vec_char.fit_transform(df["title_updated"])

X = hstack([Xw, Xc])
X.shape

(617, 1088)

**Cluster title_updated**

In [40]:
DISTANCE_THRESHOLD = 0.45  # adjust 0.35..0.55

S = cosine_similarity(X)
D = 1.0 - S

clusterer = AgglomerativeClustering(
    metric="precomputed",
    linkage="average",
    distance_threshold=DISTANCE_THRESHOLD,
    n_clusters=None
)

df["cluster_id"] = clusterer.fit_predict(D)

df["cluster_id"].value_counts().head(25)

cluster_id
4     233
2     124
0      58
38     41
16     37
19     33
11     11
1       9
6       8
8       4
10      4
9       3
21      3
14      2
22      2
26      2
25      2
12      2
29      2
13      2
3       2
28      2
5       2
30      2
18      2
Name: count, dtype: int64

**Inspect biggest clusters**

In [41]:
TOP_TITLES_PER_CLUSTER = 15
cluster_sizes = df["cluster_id"].value_counts()

for cid in cluster_sizes.head(15).index:
    print("\n" + "=" * 40)
    print(f"Cluster {cid} | size={cluster_sizes[cid]}")
    # show original titles inside the cluster
    print(df.loc[df["cluster_id"] == cid, "title"].value_counts().head(TOP_TITLES_PER_CLUSTER).to_string())

========================================
Cluster 4 | size=233
title
Data Analyst                                             15
Senior Data Analyst                                       6
Business Data Analyst                                     5
database analyst                                          4
Senior Financial Analyst                                  3
Data Product Analyst                                      2
Senior Analyst, Data Sciences                             2
HR Data & Analytics Analyst                               2
Senior Associate, Data Analyst                            2
Senior Analyst, Credit, ERM                               2
Pricing Analyst                                           2
Fraud Analyst (12-month contract)                         2
Sr Analyst, Measurement & Reporting                       2
Analyst, Supply Chain Replenishment - 1 Year Contract     2
Data Analyst, Child Health Eval Sciences                  2

========================================
Cluster 2 | size=124
title
Data Scientist                                                         35
Senior Data Scientist                                                  19
Staff Data Scientist                                                    3
Data Scientist II                                                       3
Pharmaceutical Data Scientist                                           2
Sr. Data Scientist I                                                    2
Data Scientist III                                                      2
Data Scientist, ECL Modeling                                            2
Senior Data Scientist, Algorithm (Relo to SF)                           1
Senior Data Scientist, Analytics (Relo to SF)                           1
Data Scientist – Intelligent Operations (Infrastructure)                1
Data Scientist – Center of Excellence (CoE), Personal Lines Pricing     1
Data Scientist, GIS                                                     1
Data scientist                                                          1
Sr. Data Scientist                                                      1

========================================
Cluster 0 | size=58
title
Machine Learning Engineer                                            11
AI Engineer                                                           6
Senior Machine Learning Engineer                                      4
Senior Machine Learning Engineer, AI Platform                         1
Senior Staff Machine Learning Engineer, (ML Underwriting)             1
Senior Generative AI Engineer                                         1
Senior Machine Learning Engineer - (Omics and Graph Intelligence)     1
Senior Machine Learning Engineer - Artificial Intelligence            1
Sr. Machine Learning Engineer                                         1
Data Engineer/ML Engineer                                             1
Machine Learning Engineer 1 & 2 - Systems                             1
Senior Machine Learning Engineer - Systems                            1
Staff Machine Learning Engineer - LLMs & Document AI                  1
Staff Machine Learning Engineer - Systems                             1
Machine Learning Engineer - AI Innovation Teams                       1

========================================
Cluster 38 | size=41
title
Business Intelligence Analyst                                    3
Investment Analyst, Business Analytics and Insights              2
Sr. Analyst, Analytics & Insights                                2
Analyst, Business Intelligence                                   2
Business Intelligence Developer                                  2
Business Insights Analyst II                                     2
Customer Insights & Analytics Specialist (Non-Union) Contract    1
Business Intelligence Engineer, Forecasting & Labs Analytics     1
Business Intelligence Engineer, Forecasting Analytics            1
Business Intelligence Engineer, Amazon Transportation            1
Sr. Business Intelligence Engineer, Amazon Transportation        1
Analyst, Analytics & Insights (AIR MILES)                        1
Analyst, BI and Insights                                         1
Reporting Analysts, Insights                                     1
Consultant, Data Visualization and Insights                      1

========================================
Cluster 16 | size=37
title
Data Engineer                                                        10
Senior Data Engineer                                                  4
AI/Machine Learning Data Engineer                                     1
Data Engineering Specialist                                           1
Data Engineer, Forecasting Core Data Engineering                      1
Data Engineer - GCP (Informatica Product 360), Python , SQL, ETL      1
Data Engineer - HDFS, SQL, Python                                     1
GCP Data Engineering / Analytics                                      1
Data Engineering Consultant                                           1
Data & Model Ops Engineer                                             1
Data Engineer, Advanced Analytics and Modelling - 2 Year Contract     1
data engineer                                                         1
Data Engineer (Contract)                                              1
Data Engineer (Hybrid)                                                1
ML Data Engineer                                                      1

========================================
Cluster 19 | size=33
title
Applied AI Scientist                                                                              2
Applied Machine Learning Scientist I                                                              2
Applied Machine Learning Scientist II (Retail) 4031                                               2
Senior Applied Machine Learning Scientist, Conversational AI (B3617)                              2
Senior Applied Machine Learning Scientist, Predictive AI(B3617)                                   2
Senior Quantitative User Experience Researcher (Frontend) (Bangkok-based, Relocation provided)    1
Sr. Applied Scientist, SCOT-Inbound Systems                                                       1
Senior Research Scientist, Model Evaluation                                                       1
Data Science Researcher | $90/hr Remote                                                           1
Quantitative Researcher                                                                           1
Staff Applied Scientist                                                                           1
Machine Learning Scientist (Graduate/Postdoc Level) - Contract                                    1
AI/Machine Learning Researcher, Senior/Staff Engineer Levels (AI Research Toronto)                1
Machine Learning Researcher                                                                       1
Senior Machine Learning Research Engineer                                                         1

========================================
Cluster 11 | size=11
title
Analytics Engineer                             5
Machine Learning & Data Analytics Engineer     1
CRM Data and Analytics Engineer                1
Consultant, Data and AI Analytics              1
Intermediate Analytics Engineer                1
Analyst - Analytics Engineering - Toronto      1
Associate - Analytics Engineering - Toronto    1

========================================
Cluster 1 | size=9
title
Data Associate                                                    2
Associate, AI DevOps Engineer                                     1
Associate, Securities Finance                                     1
Analytical Development Associate Chemist - (12-month contract)    1
Associate, Transactions [Due Dilligence]                          1
Actuarial Associate                                               1
Associate Engineer - AI                                           1
Decision Analytics Associate                                      1

========================================
Cluster 6 | size=8
title
Client Success Specialist (Analytics)       1
DATA SPECIALIST                             1
Analytics Specialist                        1
Senior Unified Communications Specialist    1
MongoDB Engineering Standards Specialist    1
Project Specialist                          1
Senior Specialist, Geologist                1
HR Systems Specialist                       1

========================================
Cluster 8 | size=4
title
Analytics Consultant                    1
Data Consultant                         1
Data Solutions Consultant               1
Consultant, Business Experimentation    1

========================================
Cluster 10 | size=4
title
Programmatic Strategist (Remote Canada) - Future Opening               1
Revenue Operations Strategist (Remote Canada) - Future Opening         1
Senior Demand Generation Strategist (Remote Canada)- Future Opening    1
Senior Programmatic Strategist (Remote Canada) - Future Opening        1

========================================
Cluster 9 | size=3
title
Associate Developer    1
Analytics Developer    1
PHP Developer          1

========================================
Cluster 21 | size=3
title
Senior Software Engineer, Stats & Analytics - Data Ingestion         1
Staff/Senior Software Engineer, Stats & Analytics - Data Delivery    1
Staff Software Engineer, Stats & Analytics - Data Platform           1

========================================
Cluster 14 | size=2
title
Gen AI Developer Key skills: Gen AI, Machine learning, Cloud platform, Python, NLP, Backend develop    1
GEN AI/ML Developer - Mississauga                                                                      1

========================================
Cluster 22 | size=2
title
Instructor, AI & Machine Learning                1
Instructor, AI & Machine Learning with Python    1

In [42]:
# --------------------------------------------------
# Print titles for clusters NOT in the top 15 largest clusters
# --------------------------------------------------

TOP_TITLES_PER_CLUSTER = 15
TOP_K = 15  # top clusters that you already print elsewhere

# Cluster sizes
cluster_sizes = df["cluster_id"].value_counts()

# The top 15 cluster IDs (the ones you printed)
top15_clusters = cluster_sizes.head(TOP_K).index.tolist()

print("=== TOP 15 CLUSTERS (excluded) ===")
print(cluster_sizes.head(TOP_K).to_string())

# Everything NOT in those top 15 clusters
remaining = df[~df["cluster_id"].isin(top15_clusters)].copy()

remaining_cluster_sizes = remaining["cluster_id"].value_counts()

print("\n=== CLUSTERS OUTSIDE TOP 15 ===")
print("Remaining rows:", len(remaining))
print("Remaining unique clusters:", remaining["cluster_id"].nunique())

print("\n=== Remaining cluster sizes (largest first) ===")
print(remaining_cluster_sizes.head(30).to_string())

# Print each remaining cluster and what's inside
print("\n=== CONTENTS OF CLUSTERS OUTSIDE TOP 15 ===")
for cid in remaining_cluster_sizes.index:
    sub = remaining[remaining["cluster_id"] == cid]

    print("\n" + "=" * 40)
    print(f"Cluster {cid} | size={len(sub)}")

    # show original titles inside the cluster
    print(sub["title"].value_counts().head(TOP_TITLES_PER_CLUSTER).to_string())

=== TOP 15 CLUSTERS (excluded) ===
cluster_id
4     233
2     124
0      58
38     41
16     37
19     33
11     11
1       9
6       8
8       4
10      4
9       3
21      3
14      2
22      2

=== CLUSTERS OUTSIDE TOP 15 ===
Remaining rows: 45
Remaining unique clusters: 30

=== Remaining cluster sizes (largest first) ===
cluster_id
26    2
25    2
12    2
29    2
13    2
3     2
28    2
5     2
30    2
18    2
20    2
7     2
36    2
15    2
17    2
31    1
23    1
37    1
33    1
34    1
43    1
32    1
41    1
44    1
27    1
40    1
42    1
39    1
35    1
24    1

=== CONTENTS OF CLUSTERS OUTSIDE TOP 15 ===

========================================
Cluster 26 | size=2
title
GIS Data and Analytics Technologist                                             1
GIS Data and Analytics Technologist for Planning Job Details | Richmond Hill    1

========================================
Cluster 25 | size=2
title
eCommerce Specialist    1
Ecommerce Specialist    1

========================================
Cluster 12 | size=2
title
Associate, Equities (Software)                 1
Investment Associate, Equities - Healthcare    1

========================================
Cluster 29 | size=2
title
Paid Media Strategist (Remote Canada)           1
Senior Paid Media Strategist (Remote Canada)    1

========================================
Cluster 13 | size=2
title
SEO Strategist (Remote Canada)    1
Risk Strategist                   1

========================================
Cluster 3 | size=2
title
Senior Financial Planning & Analytics               1
Senior Financial Modeling & Valuation Specialist    1

========================================
Cluster 28 | size=2
title
Sage X3 ERP Application Specialist       1
Senior OSS/BSS Application Specialist    1

========================================
Cluster 5 | size=2
title
Business Information Management Specialist            1
Enterprise Performance Management (EPM) Specialist    1

========================================
Cluster 30 | size=2
title
Pricing Analytics Architect - Fintech foundation (100% Remote - Canada)    1
Data Architect                                                             1

========================================
Cluster 18 | size=2
title
Senior Consultant - AI Governance             1
Senior Consultant - Data Science - Toronto    1

========================================
Cluster 20 | size=2
title
Staff Machine Learning Software Engineer - Agentic AI    1
Software Engineer, Machine Learning                      1

========================================
Cluster 7 | size=2
title
Senior Biostatistician (Applied Science Focus)    1
Biostatistician I                                 1

========================================
Cluster 36 | size=2
title
Senior ML Platform Engineer    2

========================================
Cluster 15 | size=2
title
Supervisor – Advanced Analytics and Artificial Intelligence (AI)    2

========================================
Cluster 17 | size=2
title
Machine Learning Operations Engineer    2

========================================
Cluster 31 | size=1
title
Data Science Engineer    1

========================================
Cluster 23 | size=1
title
Investment Data Operations Specialist    1

========================================
Cluster 37 | size=1
title
Senior Enterprise Data Management (EDM) Consultant    1

========================================
Cluster 33 | size=1
title
Technical Consultant, Value Creation and Analytics    1

========================================
Cluster 34 | size=1
title
Senior Model Risk Specialist, Anti Money Laundering & Fraud    1

========================================
Cluster 43 | size=1
title
Equity Research Associate – Metals & Mining    1

========================================
Cluster 32 | size=1
title
Consultant, RESL Advanced Analytics    1

========================================
Cluster 41 | size=1
title
Senior Associate, Structured Credit    1

========================================
Cluster 44 | size=1
title
AI & Technology Strategy Consultant    1

========================================
Cluster 27 | size=1
title
AI Full Stack Egineer    1

========================================
Cluster 40 | size=1
title
WMS Technical Specialist    1

========================================
Cluster 42 | size=1
title
Copilot and Power Platform Consultant    1

========================================
Cluster 39 | size=1
title
Backend Developer, Machine Learning    1

========================================
Cluster 35 | size=1
title
Associate, Portfolio Planning & Analysis    1

========================================
Cluster 24 | size=1
title
L3 Product - TELUS SmartEnergy (Product Data Analyst)    1

Review specific clusters

In [55]:
select_cluster_id=30

df[df['cluster_id'] == select_cluster_id]['title'].unique()

<StringArray>
['Pricing Analytics Architect - Fintech foundation (100% Remote - Canada)', 'Data Architect']
Length: 2, dtype: str